<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css"></link>
    <title>Cool Score result</title>
  </head>
  <body>
    <h1>Your Cool Score!</h1>
    <p><%= score %></p>
  </body>
</html>
